RUN pip install --upgrade pip
RUN pip install numpy
RUN pip install pandas
RUN pip install streamlit
RUN pip install pyodbc
RUN pip install datetime
RUN pip install python-dateutil --upgrade
RUN pip install requests
RUN pip install pydeck
RUN pip install geopandas
RUN pip install leafmap
RUN pip install matplotlib
RUN pip install ipywidgets